<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <img src="https://cdn.discordapp.com/attachments/414254444352503808/915651693486702632/perfil.png"
            alt="Imagem de Perfil" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item p-3">
          <p class="m-0 fw-bolder text-white fs-16">Nome do usuário</p>
        </li>
        <li class="nav-item p-3">
          <a href="">
            <p class="text-white fs-16 m-0"><i class="fa fa-edit"></i></p>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item p-3">
          <a class="m-0 fw-bolder text-white fs-16"> Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
