<div class="container-fluid">

  <div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Seja bem vindo(a)!</h1>
          <h5 class="fs-18">Expresse aqui seus pensamentos e opiniões!</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova
            Postagem</button>
          <a class="btn btn-outline-light ms-2" href="#postagens">Ver Postagens</a>

        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="https://media.discordapp.net/attachments/414254444352503808/917848227489939576/Group_therapy-rafiki.png?width=676&height=676"
        alt="imagem" width="500px" height="500px">
    </div>
  </div>


</div>

<div class="container mb-5 mt-5" id="postagens">
  <nav>
    <nav>
      <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
        <button class="nav-link active text-secondary fw-bold" id="nav-todasPostagens-tab" data-bs-toggle="tab"
          data-bs-target="#nav-todasPostagens" type="button" role="tab" aria-controls="nav-todasPostagens"
          aria-selected="true">Todas as Postagens</button>
        <button class="nav-link  text-secondary fw-bold" id="nav-minhasPostagens-tab" data-bs-toggle="tab"
          data-bs-target="#nav-minhasPostagens" type="button" role="tab" aria-controls="nav-minhasPostagens"
          aria-selected="false">Minhas Postagens</button>
        <button class="nav-link  text-secondary fw-bold" id="nav-postagensTema-tab" data-bs-toggle="tab"
          data-bs-target="#nav-postagensTema" type="button" role="tab" aria-controls="nav-postagensTema"
          aria-selected="false">Postagens por Tema</button>

      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab">Todas Postagens</div>
      <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
        Minhas Postagens</div>
      <div class="tab-pane fade" id="nav-postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">
        Postagens por Tema</div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="titulo">Titulo</label>
              <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
            </div>
            <div class="form-group">
              <label for="Texto">Texto</label>
              <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="Texto">Escolha um Tema <a data-bs-dismiss="modal" routerLink="/tema">Cadastre um novo</a>:</label>
              <select name="tema" id="tema" class="form-control" >
                <option value="">Temas</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success">Publicar</button>
            </div>
          </div>
        </div>
      </div>
